<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ReactJS Test1 EF</title>
  <link rel="stylesheet" href="/stylesheets/app.css" />
  <script type="text/javascript" src="/vendor/javascripts/react/react.min.js"></script>
  <script type="text/javascript" src="/vendor/javascripts/react/react-dom.min.js"></script>
  <script type="text/javascript" src="/vendor/javascripts/babel/browser.min.js"></script>
  <script type="text/javascript" src="/vendor/javascripts/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/javascripts/marked/marked.min.js"></script>
</head>
<body>
  <div id="book_content"></div>
  <script type="text/babel" src="/javascripts/show.js"></script>
</body>
</html>
